{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}
{% block style %}

{% endblock %}
{% block body %}
<body class="no-trans">
    <div class="container">
        <div class="row">					 
          <div  style="background-color:aqua!important; margin-top: 0px; opacity: 0.8!important;" data-animation-effect="fadeIn">

            <nav  class="navbar navbar-dark bg-dark" >
                
              
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    
                    
                  </div>
                </div>
              </nav>
 
    <h3>liste des categories</h3>

    <table  class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.title }}</td>
                <td>
                    <a class="btn btn-primary"  role="button"  href="{{ path('category_show', {'id': category.id}) }}">Voir</a>
                    <a class="btn btn-primary"  role="button"  href="{{ path('category_edit', {'id': category.id}) }}">editer</a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">aucune categorie enregistée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary"  role="button" href="{{ path('category_new') }}">Créer</a>
    <a class="btn btn-primary" href="{{ url('home') }}">Retour accueil</a>
</div>
</div>
</div> 
<a href="#top" class="topHome"><i class="fa fa-chevron-up fa-2x"></i></a>

</body>
{% endblock %}