{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}
{% block style %}

{% endblock %}
{% block body %}
<body class="no-trans">
    <div class="container">
        <div class="row">					 
          <div  style="background-color:aqua!important; margin-top: 0px; opacity: 0.8!important;" data-animation-effect="fadeIn">


            <nav  class="navbar navbar-dark bg-dark" >
                <a class="navbar-brand" href="{{ url('home') }}">client</a>
              
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="{{ url('user_index') }}">user <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="{{ url('cours_index') }}">cours</a>
                    <a class="nav-item nav-link" href="{{ url('category_index') }}">category</a>
                    
                  </div>
                </div>
              </nav>
 
    <h1>Category index</h1>

    <table  class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.title }}</td>
                <td>
                    <a class="btn btn-primary"  role="button"  href="{{ path('category_show', {'id': category.id}) }}">show</a>
                    <a class="btn btn-primary"  role="button"  href="{{ path('category_edit', {'id': category.id}) }}">edit</a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary"  role="button" href="{{ path('category_new') }}">Create new</a>
</div>
</div>
</div> 
<a href="#top" class="topHome"><i class="fa fa-chevron-up fa-2x"></i></a>

</body>
{% endblock %}