{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Cours index{% endblock %}

{% block body %}
<body class="no-trans">
    <div class="container">
        <div class="row">					 
          <div  style="background-color:aqua!important; margin-top: 0px; opacity: 0.8!important;" data-animation-effect="fadeIn">
    <h1>Category index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
             
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in category %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.title }}</td>
                
                <td>
                    <a class="btn btn-primary"  role="button" href="{{ path('category_show', {'id': category.id}) }}">Voir</a>
                    <a class="btn btn-primary"  role="button" href="{{ path('category_edit', {'id': category.id}) }}">editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary"  role="button" href="{{ path('category_new') }}">Créer une nouvelle categorie</a>
</div>
</div>
</div> 
</body>
{% endblock %}