{% extends 'base.html.twig' %}

{% block title %}admin index{% endblock %}

{% block body %}
<body class="no-trans">
    <div class="container">
        <div class="row">					 
          <div  style="background-color:aqua!important; margin-top: 0px; opacity: 0.8!important;" data-animation-effect="fadeIn">
    <h1>admin index</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>ForName</th>
                <th>LastName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for admin in admins %}
            <tr>
                <td>{{ admin.id }}</td>
                <td>{{ admin.email }}</td>
                <td>{{ admin.roles ? admin.roles|json_encode : '' }}</td>
                <td>{{ admin.password }}</td>
                <td>{{ admin.ForName }}</td>
                <td>{{ admin.LastName }}</td>
                <td>
                    <a class="btn btn-primary"  role="button" href="{{ path('adminhome_show', {'id': admin.id}) }}">show</a>
                    <a class="btn btn-primary"  role="button" href="{{ path('adminhome_edit', {'id': admin.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
    
    <a class="btn btn-primary"  role="button" href="{{ path('adminhome_new') }}">Create new</a>
</div>
</div>
</div> 
    <a href="#top" class="topHome"><i class="fa fa-chevron-up fa-2x"></i></a>
</body>
    {% endblock %}
