{% extends 'base.html.twig' %}

{% block title %}Cours index{% endblock %}

{% block body %}
<!-- <div id="banner" class="banner"> -->
    <div class="banner-image"></div>
    <div class="banner-caption">
      <div class="container">
        <div class="row">					 
          <div class="caption-data" style="margin-top: 0px; opacity: 1;" data-animation-effect="fadeIn">
    <h1>Cours index</h1>

    <table class="table table-dark">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Content</th>
                <th scope="col">Img</th>
                <th scope="col"> actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cour in cours %}
            <tr>
                <td>{{ cour.id }}</td>
                <td>{{ cour.title }}</td>
                <td>{{ cour.content }}</td>
                <td>{{ cour.imageName }}</td>
                <td>
                    <a href="{{ path('cours_show', {'id': cour.id}) }}">show</a>
                    <a href="{{ path('cours_edit', {'id': cour.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cours_new') }}">Create new</a>
    </div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
