{% extends 'base.html.twig' %}

{% block title %}Cours index{% endblock %}


{% block body %}
<body class="no-trans">
    <div class="container">
        <div class="row">					 
          <div  style="background-color:aqua!important; margin-top: 0px; opacity: 0.8!important;" data-animation-effect="fadeIn">
    
            <nav  class="navbar navbar-dark bg-dark" >
                <a class="navbar-brand" href="{{ url('home') }}">client</a>
              
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="{{ url('user_index') }}">user <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="{{ url('cours_index') }}">cours</a>
                    <a class="nav-item nav-link" href="{{ url('category_index') }}">category</a>
                    
                  </div>
                </div>
              </nav>
    
            <h1>Cours index</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                <th>Id</th>
                {% endif %}
                <th>Titre</th>
                <th>Contenu</th>
                <th>Img</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>actions</th>
                <!-- <th>user_id</th> -->
            </tr>
        </thead>
        <tbody>
        {% for cour in cours %}


        
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                <td>{{ cour.id }}</td>
                {% endif %}
               
                <td>{{ cour.title }}</td>
                <td>{{ cour.content }}</td>
                <td>{{ cour.imageName }}</td>
               
                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-primary"  role="button" href="{{ path('cours_show', {'id': cour.id}) }}">show</a>
                    <a class="btn btn-primary"  role="button" href="{{ path('cours_edit', {'id': cour.id}) }}">edit</a>
                    {% endif %}
                </td>
               
            </tr>
        {% else %}
            <tr>
                <td colspan="5">pas de cours enregistrés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <a class="btn btn-primary"  role="button" href="{{ path('cours_new') }}">Créer nouveau</a>
    {% endif %}
</div>
</div>
</div>
<a href="#top" class="topHome"><i class="fa fa-chevron-up fa-2x"></i></a>

</body>
    {% endblock %}