{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
<body class="no-trans">
    <div class="container">
        <div class="row">					 
          <div  style="background-color:aqua!important; margin-top: 0px; opacity: 0.8!important;" data-animation-effect="fadeIn">
  
    <h1>Cours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cour.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ cour.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ cour.content }}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td><img src="{{  asset('img/cours/'~cour.getImageName())  }}"></td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-primary"  role="button" href="{{ path('cours_index') }}">Retour liste</a>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
    
    <a class="btn btn-primary"  role="button" href="{{ path('cours_edit', {'id': cour.id}) }}">Ajouter un cours</a>
   
    {{ include('cours/_delete_form.html.twig') }}
    {% endif %}
</div>
</div>
</div>           
</body>
{% endblock %}
